[submodule "lab_icc2/lab_icc2_trabalhos"]
	path = lab_icc2/lab_icc2_trabalhos
	url = git@github.com:fccerri/lab_icc2_trabalhos.git
[submodule "icc2/gerente-de-processos"]
	path = icc2/gerente-de-processos
	url = git@github.com:vrveiga/gerente-de-processos
[submodule "icc2/soletra-terminal"]
	path = icc2/soletra-terminal
	url = git@github.com:vrveiga/soletra-terminal.git
[submodule "fisica/simulador-lancamento"]
	path = fisica/simulador-lancamento
	url = git@github.com:vrveiga/simulador-lancamento.git
[submodule "fisica/orb"]
	path = fisica/orb
	url = git@github.com:vrveiga/orb.git
