[submodule "2semestre/alg/Caixeiro"]
	path = 2semestre/alg/Caixeiro
	url = git@github.com:Petroncini/Caixeiro.git
[submodule "1semestre/eletronica/projeto-fonte-usp"]
	path = 1semestre/eletronica/projeto-fonte-usp
	url = git@github.com:vrveiga/projeto-fonte-usp.git
[submodule "1semestre/eletronica/relogio-binario"]
	path = 1semestre/eletronica/relogio-binario
	url = git@github.com:vrveiga/relogio-binario.git
[submodule "2semestre/pratica_sd"]
	path = 2semestre/pratica_sd
	url = git@github.com:fccerri/pratica_sd
[submodule "1semestre/ICC/Projeto_icc1"]
	path = 1semestre/ICC/Projeto_icc1
	url = git@github.com:fccerri/Projeto_icc1
[submodule "3semestre/org_comp/calculadoraAssembly"]
	path = 3semestre/org_comp/calculadoraAssembly
	url = git@github.com:fccerri/calculadoraAssembly.git
[submodule "3semestre/funcional/trabalhoFuncional01"]
	path = 3semestre/funcional/trabalhoFuncional01
	url = git@github.com:fccerri/trabalhoFuncional01.git
[submodule "3semestre/Aquivos_2025"]
	path = 3semestre/Aquivos_2025
	url = git@github.com:Nickson8/Aquivos_2025.git
[submodule "3semestre/poo/arvores/AVLArray"]
	path = 3semestre/poo/arvores/AVLArray
	url = git@github.com:fccerri/AVLArray.git
[submodule "2semestre/fisica/orb"]
	path = 2semestre/fisica/orb
        url = <git@github.com:vrveiga/orb.git>
